.venv/
venv/
__pycache__/
build/
from_scratch_*/
tokenizers/
.vscode/
results/
statistics/
.uuid
.DS_Store
results_*.txt
weight_dir/
weight_dir_ckpt/
paths_random_walk/
sampled/
sampledLP/
helper.egg-info/
WordLevel/
elapsed_training.txt
optimizers/
weights/
logs/
kgatstyle/
amazon-book/
yelp2018/
mind-f/
alibaba-fashion/
.idea/
kgat/
torchkge/
pgpr/
cafe/